@tailwind base;
@tailwind components;
@tailwind utilities;


.p-carousel-container {
  display: flex;
  flex-direction: row;
  position: relative;
}

.p-carousel-prev {
  align-self: center;
  flex-grow: 0;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: absolute;
  background-color: gray;
  height: 30px;
  left: 2%;
  z-index: 1;
  width: 30px;
  border-radius: 100%;
  /* padding: 10px; */
}

.p-carousel-next {
  align-self: center;
  flex-grow: 0;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: absolute;
  background-color: gray;
  height: 30px;
  right: 2%;
  z-index: 1;
  width: 30px;
  border-radius: 100%;
  /* padding: 10px; */
}


